apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulnerable-app
spec:
  template:
    spec:
      containers:
        - name: app
          image: vulnerable-app:latest
          securityContext:
            privileged: true
          env:
            - name: API_KEY
              value: "hardcoded_k8s_key_123"
